*{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url('1.jpg.jpg');
    background-repeat: no-repeat;

}

nav{
     width: 100%;
     height: 15vh;
     background: rgba(0,0,0,0.2);
     color: white; 
     display: flex;
     justify-content: space-between;
     align-items: center;
     text-transform: uppercase;
}

nav .logo{
    width: 100%;
    margin-left: 6vh;
    text-align: center;
    justify-content: center;
}

 .menu{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    text-transform: uppercase;
    background-color:rgb(133, 17, 17);
}

.menu a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

 .menu a:hover{
    color: #00b894;
    transition: 0.3s ease;
}

main{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}



section h3{
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px, 1px, 2px, black ;
}

section h1{
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
}

section p{
    font-size: 25px;
    word-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px black;
}

section a{
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.5s ease;
}

section .btnone{
    background: #fff;
    color: #000;
}

.btnone:hover{
    background: #00b894;
    color: white;
}

section .btntwo{
    background: #00b894;
    color: white;
}
.btntwo:hover{
    background: #fff;
    color: #000;
}

.change_content:after{
    content: '';
    animation: change_text 10s infinite linear;
    color: #00b894;
}

@keyframes change_text{
    0%{content: "Satyam";}
    20%{content: "Web Developer";}
    50%{content: "CSE Student";}
    70%{content: "SDE Aspirant";}
    100%{content: "Problem Solver";}
}

.about{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 10vh;
    width: 100%;
    background-color: #f3f5f4;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;

}

.container{
    padding: 2px, 50px;
     text-align: center;    
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 60vh;
  width: 30%;
margin-top: 5vh;  
margin-left: 7vh;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.logo{
    margin-top: 10vh;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
margin-right: 5%;
    height: 50%;
    border-radius: 50%;
    color: #00b894;
    
}

.about_me{
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgba(0, 8, 0, 0.7);
    
}

.write{
     width: 50%;
     float: right;
     margin-top: 13vh;
     align-items: center;
     text-align: center;
     justify-content: center;
     display: flex;

}


.project{
    justify-content: center;
   width: 100%;
   justify-content: center;
   text-align: center;
   align-items: center;
   margin-top: 40vh;
} 